In [1]:
# Name:-rathod dhruvi 
# Enrollment NO.:- 216270307090
# to find and drop the missing values from the given dataset

import pandas as pd
a = pd.read_csv('/kaggle/input/iml-data/alphabet_stock_data.csv')
print("Missing values:")
print(a.isnull())
print("\nDropping the missing values:")
print(a.dropna())

Missing values:
      Date   Open   High    Low  Close  Adj Close  Volume
0    False  False  False  False  False      False   False
1    False  False  False  False  False      False   False
2    False  False  False  False  False      False   False
3    False  False  False  False  False      False   False
4    False  False  False  False  False      False   False
..     ...    ...    ...    ...    ...        ...     ...
122  False  False  False  False  False      False   False
123  False  False  False  False  False      False   False
124  False  False  False  False  False      False   False
125  False  False  False  False  False      False   False
126  False  False  False  False  False      False   False

[127 rows x 7 columns]

Dropping the missing values:
           Date         Open         High          Low        Close  \
0    01-04-2020  1122.000000  1129.689941  1097.449951  1105.619995
1    02-04-2020  1098.260010  1126.859985  1096.400024  1120.839966
2    03-04-2020  1119.015015  1123.540039  1079.810059  1097.880005
3    06-04-2020  1138.000000  1194.660034  1130.939941  1186.920044
4    07-04-2020  1221.000000  1225.000000  1182.229980  1186.510010
..          ...          ...          ...          ...          ...
122  24-09-2020  1411.030029  1443.708984  1409.849976  1428.290039
123  25-09-2020  1432.630005  1450.000000  1413.339966  1444.959961
124  28-09-2020  1474.209961  1476.800049  1449.301025  1464.520020
125  29-09-2020  1470.390015  1476.662964  1458.805054  1469.329956
126  30-09-2020  1466.800049  1489.750000  1459.880005  1469.599976

       Adj Close   Volume
0    1105.619995  2343100
1    1120.839966  1964900
2    1097.880005  2313400
3    1186.920044  2664700
4    1186.510010  2387300
..           ...      ...
122  1428.290039  1450200
123  1444.959961  1323000
124  1464.520020  2007900
125  1469.329956   978200
126  1469.599976  1700600

[127 rows x 7 columns]

In [2]:
# Name:-rathod dhruvi 
# Enrollment NO.:- 216270307090
# to remove the duplicates from the given dataset.
import pandas as pd
a = { "name": ["Dhruvi", "Jal","Kinjal", "Bagthariya", "Jal"], "age": [ 90,82, 91, 80, 82] }
b = pd.DataFrame(a)
c = b.drop_duplicates()
print(c)

         name  age
0      Dhruvi   90
1         Jal   82
2      Kinjal   91
3  Bagthariya   80